---
import UmbracoMedia from "@components/umbracoMedia.astro";

import type {
	HomepageContentModel,
	IApiContentResponseModel,
	PagedIApiContentResponseModel,
} from "@scripts/api/models";

interface Props {
	homepage?: HomepageContentModel;
	pages: PagedIApiContentResponseModel;
}

const { homepage, pages } = Astro.props;
---

<header data-js="Navigation">
	<section class="flex justify-center border-b border-b-ceramic py-[10px] px-5 md:py-5">
		<div class="flex md:container">
			<div class="flex w-full md:w-1/3 text-sm flex-col font-heading">
				<ul class="flex flex-row md:flex-col utilities justify-center md:justify-start md:gap-[1px]">
					{
						homepage?.properties?.phoneNumber ? (
							<li>
								<a href={`tel:` + homepage?.properties?.phoneNumber}>{homepage?.properties?.phoneNumber}</a>
							</li>
						) : null
					}
					{
						homepage?.properties?.emailAddress ? (
							<li>
								<a href={`mailto:` + homepage?.properties?.emailAddress}>{homepage?.properties?.emailAddress}</a>
							</li>
						) : null
					}
				</ul>
			</div>
			<div class="hidden md:flex w-1/3 justify-center">
				<a href="/" title={homepage?.properties?.title}>
					<UmbracoMedia items={homepage?.properties?.logo} />
				</a>
			</div>
			<div class="hidden md:flex w-1/3 justify-end">
				<form role="search" action="/search" method="get">
					<div class="searchbox">
						<input
							type="search"
							placeholder={homepage?.properties?.searchPlaceholder}
							name="s"
							class="search-box"
							title="search"
						/>
						<button id="clear-with-button" type="reset" aria-label="reset">
							<i class="fas fa-times" aria-hidden="true"></i>
						</button>
						<button class="flex-inline align-text-bottom" type="submit" aria-label="search">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="3"
								stroke="currentColor"
								class="w-4 h-4 font-bold text-charcoal"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"></path>
							</svg>
						</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<section class="flex md:hidden w-full py-4 px-5 md:py-5">
		<div class="w-1/6 flex justify-center items-center">
			<svg
				tabindex="0"
				class="w-[22px] h-[22px] text-charcoal cursor-pointer hamburger"
				viewBox="0 0 448 512"
				fill="currentColor"
				xmlns="http://www.w3.org/2000/svg"
				><path
					d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
				></path></svg
			>
		</div>

		<div class="w-4/6 flex justify-center items-center">
			<a href="/" title={homepage?.properties?.title}>
				<UmbracoMedia items={homepage?.properties?.logo} />
			</a>
		</div>
		<div class="w-1/6 flex justify-center items-center">
			<div class="-container">
				<form role="search" action="/search" method="get">
					<button>
						<svg
							aria-label="search"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="3"
							stroke="currentColor"
							class="w-[22px] h-[22px] text-charcoal"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"></path>
						</svg>
					</button>
				</form>
			</div>
		</div>
	</section>

	<div
		class="hidden fixed md:hidden top-0 left-0 z-[999998] bg-black cursor-pointer w-full h-full opacity-65 hamburger-menu-shadow"
	>
	</div>

	<nav class="primary-navigation hidden md:flex hamburger-menu">
		<div class="flex w-full md:hidden justify-end pr-2 cursor-pointer">
			<svg
				aria-hidden="true"
				aria-label="search"
				tabindex="0"
				class="w-5 h-5 text-aluminium hamburger-menu-close"
				fill="currentColor"
				viewBox="0 0 352 512"
				xmlns="http://www.w3.org/2000/svg"
				><path
					d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"
				></path></svg
			>
		</div>
		<ul>
			{
				pages?.items?.map((page: IApiContentResponseModel) => (
					<li>
						<a href={page.route.path} class={page.route.path == Astro.url.pathname ? "active" : ""}>
							{page?.properties?.title ?? page.name}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>
